.md-sidebar__avatar {
  position: relative;
  right: .5rem;
}

.large {
  font-size: 26px
}

.small {
  font-size: 18px
}

.active .md-icon {
  color: #0AB7D7 !important;
}

a #md-sidebar__nav-item-1-9 {
  background-color: transparent !important;
}

:host ::ng-deep .md-sidebar--dark.md-sidebar .md-sidebar-nav__group--primary .md-list-item.active:not(.md-list-item--read-only) {
  background-color: transparent !important;
  padding: 0 1rem
}

:host ::ng-deep .md-sidebar--dark.md-sidebar {
  background-color: #333333;
  max-width: 100%;
}

.md-list .md-list--vertical {
  align-items: left !important;
}

.name-card {
  padding: 5px;
}

.displayName {
  color: white;
  font-size: x-small;
  padding-left: 5px;
  width: 100%;
}

.space-list {
  padding: 2px;
}

.md-sidebar__body{
  width: 100%;
}