<!DOCTYPE html>
<html>
  <head>
    <title>CALL ANYONE ON WEBEX</title>
    <link rel="stylesheet" href="https://downloads.momentum-ui.com/@momentum-ui/core/css/momentum-ui.css">
    <style>
      main {
        padding: 10px;
      }
      table {
        border-collapse: collapse;
        padding: 10px;
        margin: 10px;
      }
      table, th, td {
        border: 1px solid black;
      }
      thead th {
        font-weight: bold;
      }
      tbody td {
        min-width: 150px;
      }
    </style>
  </head>
  <body>
    <header class="md-top-bar md-top-bar--blue" role="navigation">
      <div class="md-top-bar__container row">
        <div class="md-top-bar__brand">
          <a class="md-brand" href="call">
            <div class="md-brand__logo">
              <i class="icon icon-cisco-logo"></i>
            </div>
            <div class="md-brand__title">Webex Calling</div>
          </a>
        </div>
        <nav class="md-top-bar__nav ">
            <div class="md-list md-list--horizontal" role="list">
            </div>
          </nav>
      </div>
    </header>
    <main>
      <header class="md-top-bar md-top-bar--blue" role="navigation">
        <div class="md-top-bar__container">
          <div class="md-top-bar__brand">
            <a class="md-brand" href="/">
              <div class="md-brand__logo md-brand__logo--pad">
                <i class="icon icon-cisco-logo"></i>
              </div>
              <div class="md-brand__title">Webex Room</div>
            </a>
          </div>
          <div class="md-top-bar__right ">
            <a role="tab" href="room" aria-current="true">Refresh</a>
             <div class="md-top-bar__user">
              <button md-button color="red" id="LogoutBtn" type='button' (click)="onLogout()" class ="btn btn-primary">Logout</button>
             </div>
             
          </div>
        </div>
      </header>
      
      <div *ngIf ="incoming_call"class="md-alert md-alert--call">
        <div class="md-modal__backdrop fade in">
          <div
            role="dialog"
            id="react-aria-modal-dialog"
            class="md-modal md-modal--dialog in"
            aria-labelledby="modalDialog"
            tabindex="-1"
          >
            <div class="md-modal__content">
              <div class="md-modal__flex-container">
                <div class="md-modal__header">
                  <span class="md-modal__title">Incoming md-alert--call</span>
                  <button class="md-close md-modal__close"></button>
                </div>
                <div class="md-modal__body"><span>There is an Incoming Call</span></div>
                <div class="md-modal__footer">
                 <button class="md-button md-button--circle md-button--44 md-button--red" 
                  alt="reject call" type="button" 
                  (click)="incoming_cancel()" aria-label="reject call" tabindex="0">
                    <span class="md-button__children">
                      <i class="icon icon-cancel_24"></i>
                    </span>
                  </button>
                  <button
                    class="md-button md-button--circle md-button--44 md-button--green"
                    alt="answer call with voice and video"
                    type="button"
                    (click)="incoming_attend()"
                    aria-label="answer call with voice and video" t
                    abindex="0">
                    <span class="md-button__children">
                      <i class="icon icon-camera_24"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      <h1 style="color:brown;">Make call to anyone on WEBEX</h1>
      <form ngNoForm id="credentials">
        <fieldset>
          <legend>TOKEN</legend>
          <input mdinput="" 
          class="md-width" 
          placeholder="Enter the Token" 
          class="md-input" 
          [(ngModel)]="Token">
          <button md-button color="blue" (click)="onRegister()">Connect</button>
          <div *ngIf="registered;else disconnect">
            <h1 style="color:green;">Connected</h1>
            </div>
            <p>
              <ng-template #disconnect>
                <h1 style="color:lightcoral;">Disconnected</h1>
              </ng-template>
            </p>
        </fieldset>
      </form>

      <form ngNoForm id="dialer">
        <fieldset>
          <legend>Dialer</legend>
          <input mdinput="" 
          class="md-width" 
          placeholder="Invite" 
          class="md-input" 
          [(ngModel)]="invitee">
            <button md-button color="blue" (click)="onDial()">Dial</button>
        </fieldset>
      </form>

      <form ngNoForm id="constraints">
        <fieldset>
          <legend>Constraints</legend>
          <input id="constraints-audio" title="audio" 
              type="checkbox" 
         (change)="audiocheckbox($event)" checked>
          <label for="constraints-audio">Audio</label>
          <input id="constraints-video" title="video" type="checkbox" 
         (change)="videocheckbox($event)"checked>
          <label for="constraints-video">Video</label>
        </fieldset>
      </form>
    
      <form ngNoForm id="call-controls">
        <fieldset>
          <legend>Call Controls</legend>
          <button md-button color="blue" (click)="onhangup()">Hangup</button>
        </fieldset>
      </form>
      <h1 style="color:brown;">Video goes down here</h1>
      <br>
      <div style="display: flex">
        <video #video style="width:50%" id="self-view" muted autoplay playsinline></video>
        <div style="width:50%">
          <audio #audio id="remote-view-audio" autoplay playsinline></audio>
          <video #remotevideo id="remote-view-video" autoplay playsinline></video>
        </div>
      </div>
    </main>
  </body>
</html>
