<p>logged works!</p>
<button (click)="onGetMe()">Get Me</button>
<button (click)="onGet()">Get using token</button>
<form align="right" name="form1" method="post" action="log_out.php">
    <label class="logoutLbl">
        <button md-button color="red" id="LogoutBtn" type='button' (click)="onSubmit($event)" class ="btn btn-primary">Logout</button>
    </label>
  </form>
  <div class="docs-example docs-example--spacing">
    <button type="button" class="md-button">Button</button>
  </div>
  <button md-button color="blue" (click)="onSubmit($event)">Create Room</button>
  <!-- <button type="button" md-button color="red" (click)="onLogout()" >Logout</button>
  <button md-button color="blue" (click)="onCreateRoom()">Create Room</button> -->

<div class="alignRow">
<div class="imageColumn">
<img src="assets/images/cisco.png" alt="Snow" style="width:100%" (click)="alert()">
</div>
<div class="imageColumn">
<img src="assets/images/cisco.png" alt="Forest" style="width:100%" (click)="alert()">
</div>
<div class="imageColumn">
<img src="assets/images/cisco.png" alt="Mountains" style="width:100%" (click)="alert()">
</div>
<div class="imageColumn">
<img src="assets/images/cisco.png" alt="Snow" style="width:100%" (click)="alert()">
</div>
</div>>
<!-- <div class="alignRow"></div>
<div class="imageColumn"></div>
<button (click)="alert()"> <img src="assets/images/cisco.png" alt="Snow" style="width:100%" /></button>
<div class="imageColumn"></div> -->
