.logoutLbl{

   position:fixed;
   right:10px;
   top:5px;
}

    * {
        box-sizing: border-box;
     }
     .imageColumn {
        float: left;
        width: 50%;
        padding: 10px;
     }
    
