<md-sidebar [withIcons]="true" theme="dark" >
    <md-sidebar-body class="name-card">
        <md-sidebar-nav>
            <div class="md-list-item">
                <div class="md-list md-list--vertical md-sidebar-nav__group md-sidebar-nav__group--primary" role="list">
                    <div class="md-list-item__left" role="listitem">
                        <div class="md-avatar md-avatar--group md-avatar--40 md-avatar--dark" title="{{displayName |async}}">
                          <img class="md-avatar__img" [src]="imageUrl |async" />
                        </div>
                      </div>
                </div>
            </div>
          </md-sidebar-nav>
          <md-sidebar-nav>
            <div class="md-list-item">
              <div class="md-list md-list--vertical md-sidebar-nav__group md-sidebar-nav__group--primary" role="list">
                <a class="md-list-item" id="md-sidebar__nav-item-1-9" role="listitem"
                  data-md-event-key="md-sidebar__nav-item-1-9" href="javscript:void(0)" [routerLink]="['/logout']"
                  routerLinkActive="active">
                  <div class="md-list-item__left">
                    <i class="md-icon icon icon-exit-room_16" style="font-size: 20px; color: inherit;" aria-hidden="true"></i>
                  </div>
                </a>
              </div>
            </div>
          </md-sidebar-nav>
    </md-sidebar-body>
  </md-sidebar>