
    <form ngNoForm> 
      <div class="imgcontainer"> 
        <img src="assets/images/cisco.png" alt="Avatar" class="avatar"> 
      </div>
      <button md-button color=00588a style="margin:auto;display:block" id="AuthBtn" type='button' (click)="Login()" class ="btn btn-primary">Authenticate</button>
      <!-- <button id="LogoutBtn" type='button' (click)="onAuth($event)" class ="btn btn-primary">Logout</button> -->
    </form> 
    <div class="row"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Authentication Started</strong>
          </p>
        </div>
      </div>
    <script crossorigin src="https://unpkg.com/webex@^1/umd/webex.min.js"></script>

